@font-face {
  font-family: 'BraindYerevan';
  src: url('../fonts/BraindYerevan.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body, html, button, input, select, textarea,
h1, h2, h3, h4, h5, h6, p, a, span, li, td, th {
  font-family: 'BraindYerevan', sans-serif !important;
}
